
.cont{
	background-color: #cccccc; 
}
.content-book{
	float: left;
	height: 500px;
}
.inp-text{
	float: right;
	margin-right: 150px;
	margin-top : 20px;
	height: 30px;
	border-radius:10px;
	text-align: center;
}
.label-text{
	margin-top: 20px;
	line-height: 50px;
	font-family: "Lora", Georgia, serif;
	font-weight: 700;
}
.title-bill{
	margin-top: 50px;
}
.btn-b{
	margin-top: 27.3px;
	float: right;
	width:204.89px;
	margin-bottom: 20px;
}
